<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="planet">
            <h2><span jhiTranslate="galaxyApp.planet.detail.title">Planet</span> {{ planet.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="galaxyApp.planet.name">Name</span></dt>
                <dd>
                    <span>{{ planet.name }}</span>
                </dd>
                <dt><span jhiTranslate="galaxyApp.planet.latitude">Latitude</span></dt>
                <dd>
                    <span>{{ planet.latitude }}</span>
                </dd>
                <dt><span jhiTranslate="galaxyApp.planet.longitude">Longitude</span></dt>
                <dd>
                    <span>{{ planet.longitude }}</span>
                </dd>
                <dt><span jhiTranslate="galaxyApp.planet.etat">Etat</span></dt>
                <dd>
                    <span>{{ planet.etat }}</span>
                </dd>
                <dt><span jhiTranslate="galaxyApp.planet.etoile">Etoile</span></dt>
                <dd>
                    <div *ngIf="planet.etoileId">
                        <a [routerLink]="['/etoile', planet.etoileId, 'view']">{{ planet.etoileName }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/planet', planet.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
