<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="etoile">
            <h2><span jhiTranslate="galaxyApp.etoile.detail.title">Etoile</span> {{ etoile.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="galaxyApp.etoile.name">Name</span></dt>
                <dd>
                    <span>{{ etoile.name }}</span>
                </dd>
                <dt><span jhiTranslate="galaxyApp.etoile.latitude">Latitude</span></dt>
                <dd>
                    <span>{{ etoile.latitude }}</span>
                </dd>
                <dt><span jhiTranslate="galaxyApp.etoile.longitude">Longitude</span></dt>
                <dd>
                    <span>{{ etoile.longitude }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/etoile', etoile.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
